@import "tailwindcss";

html,
body {
  @apply bg-neutral-100 dark:bg-neutral-900;
  @apply text-neutral-700 dark:text-neutral-300;
  font-family: 'M PLUS 1p', sans-serif;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button, input, textarea {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

/* デバッグ用 */
.highlighter {
  /* @apply border-1 border-black dark:border-white; */
  outline:1px solid white;
}

.formula-selection-fill {
  box-sizing: border-box;
  position: fixed;
  background-color: rgba(255, 127, 0, 0.2);
  border-radius: 1px;
  pointer-events: none;
}

.formula-selection-border {
  box-sizing: content-box;
  position: fixed;
  outline:  2px dashed rgba(255, 127, 0, 1);
  pointer-events: none;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}