@import "tailwindcss";

html,
body {
  @apply bg-neutral-100 dark:bg-neutral-900;
  @apply text-neutral-700 dark:text-neutral-300;
  font-family: 'M PLUS 1p', sans-serif;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button, input, textarea {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

/* デバッグ用 */
.highlighter {
  @apply border-1 border-black dark:border-white;
}

/* 数式ハイライト用 */
.formula-highlight-element {
  box-sizing: border-box;
  position: fixed;
  background-color: rgba(255, 128, 0, 0.2);
  border-radius: 1px;
  pointer-events: none;
}